<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969270931287-ismbenrvc20gpt2obast818r33n1r6to.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969270931287-ismbenrvc20gpt2obast818r33n1r6to</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>969270931287-eqj59g233la279ja3q7qralmoovq8f1u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDhiWNNPMlGuYHo5jtT1n2msB8V716_OI0</string>
	<key>GCM_SENDER_ID</key>
	<string>969270931287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.salla</string>
	<key>PROJECT_ID</key>
	<string>salla-4e7d2</string>
	<key>STORAGE_BUCKET</key>
	<string>salla-4e7d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969270931287:ios:293413ac94be5ca29f9812</string>
</dict>
</plist>